.landingSection {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100%;
  /* overflow-y: scroll; */
}

.landing_body {
  padding: 10em 0em;
  padding-top: 1em;
  position: relative;
  padding-bottom: 0;
}
.big_blur {
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: 0;
  height: 100%;
  opacity: 0.7;
}

.arrow_down_icon {
  width: 10px;
  margin-left: 3px;
  transition: 0.5s ease-in-out;
}
.products:hover .arrow_down_icon {
  transform: rotate(180deg);
  transition: 0.5s ease-in-out;
}

/* ==/====== */

.about {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;
}
.about .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
}
.about .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/logo_white.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  transition: all 1s 0.2s ease;
  bottom: 0;
  right: 0;
}
.about .social {
  opacity: 0;
  right: 0;
  bottom: 0;
}
.about .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: flex;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}
.about .social.portfolio {
  transition: all 0.8s ease;
}
.about .social.portfolio .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/link.svg);
}
.about .social.dribbble {
  transition: all 0.3s ease;
}
.about .social.dribbble .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/dribbble.svg);
}
.about .social.linkedin {
  transition: all 0.8s ease;
}
.about .social.linkedin .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/linkedin.svg);
}
.about:hover {
  width: 105px;
  height: 105px;
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
  opacity: 1;
  transition: all 0.6s ease;
}
.about:hover .social {
  opacity: 1;
}
.about:hover .social .icon {
  opacity: 0.9;
}
.about:hover .social:hover {
  background-size: 28px;
}
.about:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}
.about:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.portfolio .icon:hover {
  background-color: #698fb7;
}
.about:hover .social.dribbble {
  bottom: 45%;
  right: 45%;
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.dribbble .icon:hover {
  background-color: #ea4c89;
}
.about:hover .social.linkedin {
  bottom: 0;
  right: calc(100% - 40px);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.linkedin .icon:hover {
  background-color: #0077b5;
}

body {
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
  /* button */
  /* bg button */
}
.button .link {
  /* font-family: "Rubik", sans-serif; */
  background-color: transparent;
  font-size: 20px;
  /* letter-spacing: 2px; */
  color: #ffffff;
  position: relative;
  /* transition: all 0.3s ease-in-out; */
  cursor: pointer;
  border: 0;
  padding-left: 20px;
  left: 0;
  line-height: auto;
  overflow: hidden;
  text-decoration: none;
  animation: btn_li 3s ease-in-out infinite;
  /*line*/
  /*arrow*/
}

@keyframes btn_li {
  0% {
    padding-left: 20px;
    color: #ffffff;
  }
  100% {
    padding-left: 50px;
    color: #28b67d;
  }
}
.button .link:before {
  content: "";
  background-color: #ffffff;
  width: 3px;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
  border-radius: 50px;
  /* transition: all 0.3s ease-in-out; */
  animation: btn_li_bf 3s ease-in-out infinite;
}
@keyframes btn_li_bf {
  0% {
    left: 0px;
    /* transform: rotate(0deg); */
    background-color: #ffffff;
    top: 0px;
  }
  100% {
    left: 8px;
    transform: rotate(90deg);
    background-color: #28b67d;
    top: -2px;
  }
}
/* .link:before {
  left: 10px;
  transform: rotate(90deg);
  background-color: #28b67d;
  top: -2px;
} */
.button .link:after {
  content: "";
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: absolute;
  border: solid 3px #28b67d;
  border-left: 0;
  border-bottom: 0;
  top: calc(50% - 9px);
  border-radius: 2px;
  transform: translateX(-42px) rotate(45deg);
  transition: all 0.3s 0.2s ease-in-out;
}
.button:before {
  content: "";
  background-color: #ffffff;
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0px;
  border-radius: 3px;
  animation: btn_bf 3s ease-in-out infinite;
}

@keyframes btn_bf {
  0% {
    width: 0%;
    height: 100%;
    left: 0;
    bottom: 0px;
  }
  100% {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0px;
  }
}

/* .button:hover:before {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0px;
} */

.button:hover .link:after {
  transform: translate(-33px) rotate(45deg);
}

/* =[============ */
.landing_area {
  padding: 0em 0em;
}
.earn_link {
  position: fixed;
  right: 0;
  top: 42%;
  z-index: 500;
}
.earn_btn {
  /* padding: 1em 1em; */
  background: #28b67d;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 10px 20px 2px #489d7b;
}

.refff {
  margin: 0;
}

.earn_btn:hover {
  background-color: #e4a788;
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 4px 10px #d5d5d5;
  transition: 0.3s ease-in-out;
  color: #fff;
}
.landing_section_txts {
  padding: 1em 4em;
  padding-top: 2em;
  background: #ffffff57;
  height: 55vh;
  border-radius: 10px;
  border: solid;
  border-color: #ffffff40;
  text-align: center;
  display: flex;
  grid-row-gap: 5%;
  flex-direction: column;
}

.landing_txt1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 65px;
  height: 30%;
  margin-bottom: 30px;
}

.tokens_icons {
  width: 100%;
  place-self: center;
  opacity: 0.6;
  height: 10%;
}
.landing_txt2 {
  font-size: 20px;
  color: #565656;
  line-height: 30px;
}
.landing_buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  height: 5%;
}

.landing_btn1 {
  background: #28b67d;
  color: #ffff;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
  padding: 1em 2em;
  /* font-size: 25px; */
  font-weight: 700;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.linked_in_link {
  background: #28b67d;
  padding: 10px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.linked_in {
  width: 18px;
}

.landing_btn1:hover {
  background-color: #e4a788;
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 4px 10px #d5d5d5;
  transition: 0.3s ease-in-out;
  color: #fff;
}

.landing_btn2 {
  border: solid;
  border-width: 1px;
  border-color: #28b67d;
  color: rgb(0, 0, 0);
  padding: 1em 2em;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.landing_btn2:hover {
  color: #fff;
  border: solid;
  border-color: #e4a788;
  background-color: #e4a788;
  border-width: 0.5px;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 4px 10px #d5d5d5;
  transition: 0.3s ease-in-out;
}

.header_section {
  height: 10vh;
}

.header-area {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  width: 150px;
}

.open_drop_icon {
  display: none;
}

.nav_link2 {
  margin-left: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.hover_drop_down {
  position: absolute;
  top: 17px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
  background: #ffffff57;
  padding: 2em;
  width: 211px;
  border-radius: 10px;
  right: 92px;
  z-index: 100;
  box-shadow: 0px 0px 20px #bbbbbb40;
  display: none;
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(4px);
  border: solid;
  border-color: #ffffff78;
}

a.company_link {
  color: #28b67d;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
}
.nav_link2a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-weight: 700;
  margin-left: 40px;
  transition: 0.3s ease-in-out;
}
.nav_link2a:hover {
  color: #28b67d;
}

.nav_link2a:hover + .hover_drop_down {
  display: flex;
  transition: 0.3s ease-in-out;
}
.hover_drop_down:hover {
  display: flex;
  transition: 0.3s ease-in-out;
}

.iconss {
  color: #ffffff;
  margin-right: 14px;
  width: 30px;
  padding: 4px;
  border-radius: 100%;
}

.footer_blur {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer_txts {
  position: relative;
  z-index: 5;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.footer_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: fixed;
  z-index: 100;
  right: 0px;
  top: 50%;
  grid-row-gap: 20px;
  padding: 1em;
  background: #ffffff7d;
  backdrop-filter: blur(3px);
  border: solid;
  border-radius: 10px;
  border-color: #ffffff45;
  box-shadow: -8px 8px 10px #a6d5c130;
  transition: 0.5s ease-in-out;
  padding-left: 2em;
}

.social_icon {
  color: #ffffff;
  padding: 4px;
  background: #28b67d;
  border-radius: 100%;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
  font-size: 30px !important;
}
.social_icon:hover {
  color: #ffffff;
  background: #e4a788;
  transition: 0.3s ease-in-out;
}
.gtpartnersSection {
  padding: 1em 0em;
  position: relative;
  overflow: hidden;
  height: 20vh;
}

.gtPartnersArea {
  transform: translateZ(0);
  min-width: 2800px;
  animation: nonStop 60s linear 0s infinite normal none running;
  /* -webkit-animation: nonStop 60s linear 0s infinite normal none running; */
  display: flex;
  position: relative;
  z-index: 5;
}
@keyframes nonStop {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.gttitle {
  font-weight: 800;
}
/* .gtPartnersArea .react-multiple-carousel__arrow--left,
.gtPartnersArea .react-multiple-carousel__arrow--right {
  display: none !important;
}
.gtPartnersArea .react-multiple-carousel__arrow::before {
  font-weight: 900;
  color: #000;
}
.gtPartnersArea .react-multi-carousel-track {
  align-items: center !important;
} */
.gtpaid {
  width: 300px;
}
.gthowItWorksTitle {
  text-align: center;
}
.gtpartnersCircle {
  right: 0;
  bottom: 10%;
  position: absolute;
  z-index: 2;
}
.gtpatLogo {
  text-align: center;

  padding: 0em 1em;
  border-radius: 20px;
  position: relative;
  width: 250px;
  margin: auto;
}

.gtpartnerLogos {
  text-align: center;
  width: 125px;
  filter: grayscale();
}
.gtpartnerLogos:hover {
  filter: none;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: visible;
  transition: 10s ease-out;
}
.not_panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 10s ease-out;
}

.mobile_menu {
  position: fixed;
  right: 0;
  width: 55%;
  top: 0;
  height: 100vh;
  padding: 1em 1em;
  display: flex;
  z-index: 200;
  flex-direction: column;
  grid-row-gap: 30px;
  align-items: flex-end;
  backdrop-filter: blur(13px);
  background: #ffffff8f;
  border-left: solid;
  border-color: #ffffffb0;
  box-shadow: -2px -2px 20px lightgrey;
  animation: leftGrow 0.5s linear;
}

@keyframes leftGrow {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
.mr {
  margin-right: 2px;
}

.nav_link2_mobile {
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
  align-items: self-end;
  width: 100%;
  height: 100%;
  /* z-index: 200; */
}
img.close_drop_icon {
  width: 30 px;
}

.footer_area {
  height: 20vh;
}

.not_mobile_menu {
  display: none;
}
.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.accordion_inner_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  grid-row-gap: 10px;
}

a.accordion_inner_links {
  color: grey;
  text-decoration: none;
  font-size: 14px;
}

.not_nav_link2a {
  display: none;
}

.not_accordion_inner_div {
  display: none;
}
.not_accordiony {
  display: none;
}

.hr {
  margin: -1rem 0 !important;
}
/* .close_drop_icon {
  display: none;
} */
/* .partnerLogos.nuls {
  width: 150px;
} */

/* Partners Section end */
/* ============================================ */
/* ============================================ */
/* ============================================ */
/* compare section  start */

@media screen and (max-width: 1130px) {
  .button .link {
    /* font-family: "Rubik", sans-serif; */
    background-color: transparent;
    font-size: 16px;
    /* letter-spacing: 2px; */
    color: #ffffff;
    position: relative;
    /* transition: all 0.3s ease-in-out; */
    cursor: pointer;
    border: 0;
    padding-left: 20px;
    left: 0;
    line-height: auto;
    overflow: hidden;
    text-decoration: none;
    animation: btn_li 3s ease-in-out infinite;
  }
}
@media screen and (max-width: 991px) {
  .landing_txt1 {
    font-size: 50px;
  }

  .tokens_icons {
    width: 100%;
  }
}
@media screen and (max-width: 948px) {
  .button {
    width: 10px;
    animation: button_wid 6s ease-in-out infinite;
  }

  .button .link {
    /* font-family: "Rubik", sans-serif; */
    background-color: transparent;
    font-size: 14px;
    /* letter-spacing: 2px; */
    color: #ffffff;
    position: relative;
    /* transition: all 0.3s ease-in-out; */
    cursor: pointer;
    border: 0;
    padding-left: 20px;
    left: 0;
    line-height: auto;
    overflow: hidden;
    text-decoration: none;
    animation: btn_li 3s ease-in-out infinite;
  }
  @keyframes button_wid {
    100% {
      width: 220px;
    }
  }
}
@media screen and (max-width: 767px) {
  .header-area {
    padding: 1em 0em;
  }

  .footer_links {
    right: -50px;
    transition: 0.5s ease-in-out;
  }
  .footer_links:hover {
    right: 0px;
    transition: 0.5s ease-in-out;
  }

  .header_logo {
    width: 130px;
  }
  .open_drop_icon {
    display: block;
  }
  .landing_txt1 {
    font-size: 50px;
  }
  .nav_link2 {
    display: none;
  }

  .tokens_icons {
    width: 100%;
  }
  .landing_section_txts {
    padding: 2em 1em;
    padding-top: 2em;
    grid-row-gap: 30px;
  }
  .gtpartnersSection {
    padding-bottom: 0;
  }
  .container {
    max-width: 712px;
  }
}
@media screen and (max-width: 538px) {
  .landing_buttons {
    margin-top: 0px;
  }

  .landing_txt1 {
    font-size: 45px;
  }
  .landing_txt2 {
    font-size: 18px;
  }
  .landing_section_txts {
    padding-top: 0em;
  }
  .landing_txt1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 442px) {
  .landing_section_txts {
    padding-top: 1em;
  }
  .landing_txt1 {
    font-size: 35px;
    line-height: 45px;
  }
  .landing_body {
    margin-bottom: 0px;
  }
  .landing_buttons {
    flex-direction: column;
    grid-row-gap: 10px;
  }
  .landing_btn1 {
    padding: 1em 1em;
    font-size: 14px;
    width: 100%;
    margin: 0;
  }
  .landing_btn2 {
    padding: 1em 1em;
    font-size: 14px;
    width: 100%;
  }

  .landingSection {
    width: 100vw;
    height: 100vh;
  }

  .header_section {
    height: 5vh;
  }

  .header-area {
    padding: 0.5em 0em;
    /* height: 10vh; */
  }

  .landing_area {
    padding: 0em 0em;
    height: 60vh;
  }

  .landing_section_txts {
    padding-top: 1em;
  }
  .landing_txt1 {
    font-size: 100%;
    line-height: 35px;
  }
  .landing_section_txts {
    height: 60vh;
    grid-row-gap: 11%;
  }

  .landing_txt1 {
    height: 10%;
    font-size: 190%;
    /* width: 20%; */
  }

  .landing_txt2 {
    font-size: 100%;
    line-height: 19px;
    height: 20%;
  }

  .landing_buttons {
    width: 100%;
    height: 20%;
    margin-top: 20px;
  }

  .gtpartnersSection {
    padding: 0em 0em;
    padding-top: 2em;
    height: 20vh;
  }

  .gthowItWorksTitle {
    height: 10%;
  }

  .gttitle {
    width: 100%;
    font-size: 100%;
  }

  .gtPartnersArea {
    height: 100%;
    margin-top: -8px;
  }

  .gtpatLogo {
    padding: 0em 1em;
    width: 300px;
    height: 100%;
  }

  .gtpartnerLogos {
    width: 100%;
    height: 35%;
  }

  .footer_section {
    height: 10vh;
  }

  .footer_area {
    height: 10vh;
  }

  .footer_txts {
    font-size: 11px;
    height: 10vh;
    width: 100%;
  }
  .hr2 {
    margin: 0.2rem 0;
  }
}
@media screen and (max-width: 381px) {
  /* .landing_section_txts {
    padding-top: 1em;
  } */
  .landing_txt1 {
    height: 10%;
    font-size: 180%;
    /* width: 20%; */
  }
}
@media screen and (max-width: 329px) {
  .landing_txt2 {
    font-size: 14px;
    line-height: 20px;
  }

  .landing_txt1 {
    height: 10%;
    font-size: 150%;
    /* width: 20%; */
  }
  /* .landing_section_txts {
    padding-top: 3em;
  } */
}
